<nav class="navbar navbar-expand-lg navbar-light bg-light center-align flow-text">
  <a class="navbar-brand hoverable" href="/lab1">Laboratorio 1</a>
  <a class="navbar-brand hoverable" href="/lab3">Laboratorio 3</a>
  <a class="navbar-brand hoverable" href="/lab8">Laboratorio 8</a>
  <a class="navbar-brand hoverable" href="/lab11">Laboratorio 11</a>
  <a class="navbar-brand hoverable" href="/lab12">Laboratorio 12</a>
  <a class="navbar-brand hoverable" href="/">Laboratorio 13</a>
  <a class="navbar-brand hoverable" href="/Generatepassword">Guardar password</a>
</nav>