<!DOCTYPE html>
<html lang="es">
    <head>
        <link rel="stylesheet" href="../css/validate_style.css">
        <title> Validar password</title>
    </head>
    <body>
        <section>
            <div class="formulario">
                <div class="form_value">
                    <form method="POST" action="/validarpassword">
                        <h2>Validacion de password</h2>
                        <div class="inputbox">
                            <input id="con1" type="password" name="indice" required placeholder="Password">

                        </div>
                        <div class="inputbox">
                            <input id="con2" type="password" name="imprimir" required placeholder="Confirmar password">
                        </div>
                        <button type="submit" id="submitbutton">Validar</button>
                    </form>
                </div>
            </div>
        </section>
    </body>
</html>