*{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin:  50px 0;
    font-size: 30px;
}

.datos, .referencias {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5%;
    width: fit-content;
    background-color: rgb(127, 232, 255);
    padding: 20px;
    border-radius: 10px;
}

.datos p, .referencias p{
    width:fit-content;
}

h2 {
    font-size: 40px;
    margin: 50px;
}

.preguntas {
    width: 90%;
    margin: auto;
    text-align: center;
}


.container{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    flex-wrap:wrap;
}

.container div{
    list-style-type: none;
    width: 32%;
    margin: 30px 0;
}

.preguntas p{
    border-radius: 10px;
    text-align: center;
    background: #d2f6fd;
    height: 100%;
    padding: 10px 40px;
    align-content: center;
}
.preguntas p:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}

.preguntas p strong{
    margin-bottom: 10px;
}

footer{
    display: flex;
    padding:  40px 20%;
    justify-content: space-between;
}