<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab13_A01709890</title>

    <!-- Compiled and minified CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- <link rel="stylesheet" href="css/style.css"> -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

</head>

<body>
    <header>
        <%- include('./partials/header'); %>
            <h1>Laboratorio 13</h1>
    </header>

    <section class="datos">
        <p onmouseover="cambiarColor()" id="info" onmouseleave="restaurarColor()"
            class="card-panel teal lighten-2 hoverable"> <strong>Nombre: </strong> Carlos Alejandro Galicia Silva <br>
            <strong>Matrícula: </strong>A01709890 <br>
            <strong>Correo: </strong>A01709890@tec.mx
        </p>
    </section>


    <section class="preguntas">
        <h3>Preguntas</h3>
        <div class="row">
            <div class="col s12 red lighten-2 hoverable">
                <p class="flow-text"><strong>¿Qué beneficios encuentras en el estilo MVC?:</strong><br><br>
                    El estilo MVC, al separar el Modelo, la Vista y el Controlador, facilita el mantenimiento del codigo
                    al modificar cada componente de forma separada sin modificar directamente a los demás. Además es
                    beneficioso para la reutilización de código en otras partes del proyecto.</p>
            </div>
            <div class="col s12 pink lighten-2 hoverable">
                <p class="flow-text"><strong>¿Encuentras alguna desventaja en el estilo arquitectónico
                        MVC?:</strong><br><br>
                    El estilo en un inicio puede resultar dificil y complejo para las personas que todavia no estan
                    familiarizadas del todo con el estilo MVC, ocasionando que la curva de aprendizaje sea muy
                    pronunciada al inicio.</p>
            </div>
        </div>
    </section>

    <h3>Referencias:</h3>

    <section class="grey lighten-2" id="referencias">
        <p class="flow-text">Validación de formularios de datos - Aprende desarrollo web | MDN. (2023, 1 septiembre).
            MDN Web Docs. <a
                href="https://developer.mozilla.org/es/docs/Learn/Forms/Form_validation">https://developer.mozilla.org/es/docs/Learn/Forms/Form_validation</a>
        </p>
        <p class="flow-text">Ada. (2020, 12 septiembre). Cómo saltarse la validación HTML5 de un formulario. <a
                href="https://didacticode.com/como-saltarse-validacion-html5-formulario/">https://didacticode.com/como-saltarse-validacion-html5-formulario/</a>
        </p>
        <p class="flow-text">Ada. (2020a, julio 12). ¿Es seguro validar un formulario con Javascript? <a
                href="https://didacticode.com/seguro-validar-formulario-javascript/">https://didacticode.com/seguro-validar-formulario-javascript/</a>
        </p>
    </section>

    <footer class="card-panel teal lighten-2 hoverable">
        <%- include('./partials/footer'); %>
    </footer>



</body>
<script src="script.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</html>