<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab11_A01709890</title>

    <!-- Compiled and minified CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

</head>

<body>
    <header>
        <h1>Laboratorio 11</h1>
    </header>

    <section class="datos">
        <p class="card-panel teal lighten-2 hoverable"> <strong>Nombre: </strong> Carlos Alejandro Galicia Silva <br>
            <strong>Matrícula: </strong>A01709890 <br>
            <strong>Correo: </strong>A01709890@tec.mx
        </p>
    </section>


    <section class="preguntas">
        <h3>Preguntas</h3>
        <div class="row">
            <div class="col s12 red lighten-2 hoverable">
                <p class="flow-text"><strong>Describe el archivo package.json.:</strong><br><br>
                    <strong>"name:"</strong> describe el nombre del proyecto, que es "servidor".<br>
                    <strong>"version"</strong> es la version del proyecto que es "1.0.0".<br>
                    <strong>"description"</strong> es la descripcion del proyecto, que esta vacia porque es opcional y la introduce el
                    creador.<br>
                    <strong>"main"</strong> es el archivo principal del proyecto, que es "server.js".<br>
                    <strong>"scripts"</strong> son los scripts de nmp que pueden ejecutarse, en este proyecto se utiliza "start" para
                    ejecutar el
                    archivo con node y "dev" para ejecutar el servidor con nodemon.<br>
                    <strong>"author"</strong> es el autor del proyecto que es "Carlos Galicia".<br>
                    <strong>"licence"</strong> es la licencia bajo la cual se distribuye el proyecto, que es "ISC".<br>
                    <strong>"devDependencies"</strong> son las dependencias bajo las cuales el proyecto se desarrolla, la cual es
                    <strong>"nodemon"</strong> version 3.1.0.<br>
                    <strong>"dependencies"</strong> son las dependencias que el proyecto utiliza para ejecutarse, que son "body-parser",
                    "date-fns", "root", y "uuid" y sus respectivas versiones.</p>
            </div>
        </div>
    </section>

    <footer class="card-panel teal lighten-2 hoverable">
        <p class="flow-text"> <strong>Editor utilizado: </strong> Visual Studio Code: <a class="blue-text text-darken-3"
                href="https://code.visualstudio.com/">https://code.visualstudio.com/</a></p>
    </footer>
</body>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</html>